{% extends 'base.html.twig' %}

{% block title %}New Catfood{% endblock %}

{% block body %}
    <h1>Create new Catfood</h1>

    {{ include('catfood/_form.html.twig') }}

    <a href="{{ path('catfood_index') }}">back to list</a>
{% endblock %}
